html {
width: 70%;
background-color: rgb(73, 132, 194);
position: relative;
left: 15%;
}
body {
    background-color: rgb(124, 209, 230);
    font-family: "Arial Black", Helvetica, sans-serif;
    color: black;
  }
h1 {
    background-color: rgb(26, 25, 27);
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(224, 206, 206);
  }
